body {
	font-family: "arial";
	text-align: center;
	font-size: 3vh;
}

h1 {
	font-size: 8vh;
	margin: 0 0 50vh 0;
}

input {
	margin: 0 0 5vh 0;
}

button {
	margin: 10vh 0 0 0;
	font-size: 3vh;
	width: 50vw;
	height: 6vh;
}